[required]
awww-git
brightnessctl
hyprland
hypridle
hyprshot
greetd
quickshell-git
kitty
nvim
yazi
fastfetch
btop
rofi
mpv
mpv-mpris
pavucontrol
rsync
mangohud
lib32-mangohud
fd
ripgrep
fzf
zoxide
tree-sitter-cli
pipewire
pipewire-alsa
pipewire-pulse
wireplumber
bluez
bluez-utils
networkmanager
imagemagick
noto-fonts
noto-fonts-emoji
otf-font-awesome
python-pywal
base-devel
git
git-lfs
cmake
meson
npm
nwg-look
gnome-themes-extra
xdg-desktop-portal-hyprland
wireless-regdb

[full]
steam
lutris
prismlauncher
wine
winetricks
openrazer-daemon
xone-dkms
discord
google-chrome
visual-studio-code-bin
krita

[nvidia]
nvidia-open-dkms
nvidia-settings
lib32-nvidia-utils

[intel]
vulkan-intel
lib32-mesa
lib32-vulkan-intel

[amd]
vulkan-radeon
lib32-mesa
lib32-vulkan-radeon
